<!DOCTYPE html>
<html>
  <head>
    <title>GDrive</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <main>
      <div id="left">
        <a href="#"><button>Create new<i class="ri-add-line"></i></button></a>
        <div class="options">
          <h4>Features</h4>
          <a href="#"><i class="ri-drive-fill"></i>My Drive</a>
          <a href="#"><i class="ri-delete-bin-fill"></i>Trash</a>
        </div>
      </div>
      <div id="right">
        <h3>Folders</h3>
        <div class="folders">
          <div class="folder"><i class="ri-folder-5-fill"></i><h4>Pictures</h4></div>
          <div class="folder"><i class="ri-folder-5-fill"></i><h4>Pictures</h4></div>
          <div class="folder"><i class="ri-folder-5-fill"></i><h4>Pictures</h4></div>
        </div>

        <div class="filesection">
          <h3>Uploaded Files</h3>
          <div class="files">
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
            <div class="file">
              <div class="image"></div>
              <div class="dets">
                <i class="ri-file-4-fill"></i>
                <h4>FileName</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
